ion-content ion-toolbar {
  --background: translucent;
}

.tb1-alert{
  float: right;
}

.tb1-txtbox{
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tb1-txtbox strong{
  font-size: 20px;
}